page-property-filter {
	.item {
		padding-left: 0;
		&.item-block {
			.item-inner {
			  border-style: solid;
			  border-width: 1px;
			  border-color: transparent;
			  border-bottom-color: rgba(44, 167, 148, .2);
			}
		}
	}
}
