<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu" color="primary"></ion-icon>
        </button>
        <ion-title>
            <span ion-text color="primary">Get Pre-Approved</span>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="preapproved lightest-bg">

    <ion-card class="primary-bg">
      <ion-card-content>
        <p class="text-white">Complete the form with your assencial data for you loan credit analysis</p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <form [formGroup]="onApprovedForm" class="list-form">
          <ion-list margin-bottom>
            <ion-item>
              <ion-label>Use my account/profile data:</ion-label>
              <ion-checkbox formControlName="profiledata"></ion-checkbox>
            </ion-item>
            <p ion-text color="danger" class="text-1x has-error" *ngIf="onApprovedForm.get('profiledata').touched && onApprovedForm.get('profiledata').hasError('required')">This field is required</p>

            <ion-item>
              <ion-label color="primary" stacked>Property ID Code:</ion-label>
              <ion-input type="number" placeholder="Code here" formControlName="propertyid"></ion-input>
            </ion-item>
            <p ion-text color="danger" class="text-1x has-error" *ngIf="onApprovedForm.get('propertyid').touched && onApprovedForm.get('propertyid').hasError('required')">This field is required</p>

            <ion-item>
              <ion-label color="primary" stacked>Document Number:</ion-label>
              <ion-input type="number" placeholder="Ex.: 12345678900" formControlName="docnumber"></ion-input>
            </ion-item>
            <p ion-text color="danger" class="text-1x has-error" *ngIf="onApprovedForm.get('docnumber').touched && onApprovedForm.get('docnumber').hasError('required')">This field is required</p>

            <ion-item>
              <ion-label color="primary" stacked>Annual Income:</ion-label>
              <ion-input type="text" placeholder="Ex.: $100,000" formControlName="annualincome"></ion-input>
            </ion-item>
            <p ion-text color="danger" class="text-1x has-error" *ngIf="onApprovedForm.get('annualincome').touched && onApprovedForm.get('annualincome').hasError('required')">This field is required</p>

            <ion-item>
              <ion-label color="primary" stacked>Loan Required:</ion-label>
              <ion-input type="text" placeholder="Ex.: $60,000" formControlName="loan"></ion-input>
            </ion-item>
            <p ion-text color="danger" class="text-1x has-error" *ngIf="onApprovedForm.get('loan').touched && onApprovedForm.get('loan').hasError('required')">This field is required</p>

          </ion-list>

          <button ion-button block color="dark" (click)="sendData()" [disabled]="!onApprovedForm.valid">Send Data</button>
        </form>
      </ion-card-content>
    </ion-card>

<!--     <div padding class="support-info">

        <h4 ion-text color="dark">ionProperty Application</h4>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum odio placeat incidunt nesciunt atque ratione quisquam, fugit omnis maxime adipisci excepturi dignissimos aliquam asperiores itaque unde sequi? Minus, quia, dolore?
        </p>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum odio placeat incidunt nesciunt atque ratione quisquam, fugit omnis maxime adipisci excepturi dignissimos aliquam asperiores itaque unde sequi? Minus, quia, dolore?
        </p>

    </div> -->

</ion-content>
