// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";
@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$text-color: #244487;

$background-color: #fff;

$toolbar-background: #fff;

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

// $colors: (
//   primary:    #244487,
//   secondary:  #244487,
//   danger:     #244487,
//   light:      #244487,
//   dark:       #244487
// );

$colors: (
  primary:    #2e55aa,
  secondary:  #3569d8,
  danger:     #dc3545,
  light:      #c5cfe4,
  dark:       #173068,
  menuText:   #375db1
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

// $toolbar-ios-background: color($colors, primary);
$toolbar-ios-border-color:  #3569d8;

$searchbar-ios-min-height: 52px;
$searchbar-ios-input-height: 3.5rem;
$searchbar-ios-background-color: #fff;
$searchbar-ios-input-background-color: #eff2f5;
$searchbar-ios-border-color: #eff2f5;

$list-ios-border-color: #3569d8;

$card-ios-box-shadow-color:  #3569d8;

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

$toolbar-border-color:  #3569d8;
$searchbar-md-input-background-color: $searchbar-ios-input-background-color;
$searchbar-md-input-border-radius: 5px;

$list-md-border-color: #3569d8;
// $toolbar-md-background: color($colors, primary)

$card-md-box-shadow: 0 2px 2px 0  #3569d8, 0 3px 1px -2px  #3569d8, 0 1px 5px 0  #3569d8;

$toolbar-md-text-color:  #3569d8;

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/
@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

// @import "roboto";
// @import "noto-sans";
