// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.menu-logo {
  height: 80px;
  margin: 12px 0 0 90px;
}

// Headers
.header-md {
	box-shadow: 0 1px 8px #3569d8;
	&::after {
		background: none;
	}
}

.back-button {
	color: color($colors, dark);
}

// .header-ios .toolbar-background-ios,
// .footer-ios .toolbar-background-ios {
//     border-style: solid;
//     border-color: rgba(44, 167, 148, .4);
// }

// Buttons
// .button-large-md,
// .button-large-ios {
// 	box-shadow: none;
// 	height: 12rem;
// }

// **** Helpers **** //

// Fonts
.fw300 {
	font-weight: 300 !important;
}

.fw500 {
	font-weight: 500 !important;
}

.fw700 {
	font-weight: 700 !important;
}

// Colors
.text-black {
	color: #000;
}

.text-white {
	color: #fff !important;
}

.text-primary {
	color: color($colors, primary) !important;
}

.text-dark {
	color: color($colors, dark) !important;
}

.text-light {
	color: color($colors, light) !important;
}

// Backgrounds
.menu-bg {
	.content {
    background-image: linear-gradient(90deg, #fff 60%, lighten(color($colors, primary), 57%));
	}
	.item {
		background-color: transparent;
	}
}

.profiles-bg {
	background-image: linear-gradient(135deg, color($colors, dark), color($colors, primary));
}

.lightest-bg {
	background-color: lighten(color($colors, primary), 56%);
}

.light-bg {
	background-color: color($colors, light);
}

.primary-bg {
	background-color: color($colors, primary);
}

.dark-bg {
	background-color: color($colors, dark);
}


// Forms
.has-error {
    margin: 0;
    padding: .75rem;
    background-color: color($colors, light);
    border-radius: 0 0 4px 4px;
}

// buttons configs
.btn-facebook {
  background-color: #3B5999;
}

.btn-twitter {
  background-color: #00ACEE;
}

.btn-gplus {
  background-color: #E04006
}

// Menu user profile
.user-profile {
  padding: 0 !important;

  // margin: -16px -16px 0;
  // background-image: linear-gradient(135deg, color($colors, dark), color($colors, primary), color($colors, secondary));
  background-color: color($colors, primary);
  .item {
    border: 0 !important;
    background-color: transparent;
    ion-avatar {
      margin: 24px 16px 24px 0;
      img {
        width: 54px;
        height: 54px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 10rem inset, rgba(255, 255, 255, 0.45) 0px 0px 4rem;
      }
    }
  }
  .card {
    border-radius: 0;
    background-color: transparent;
  }
  .other-data {
    border-top: 1px solid color($colors, primary);
    .column {
      background-color: #3569d8;
      &:first-child {
        border-right: 1px solid color($colors, primary);
      }
    }
  }
}

// Borders
.light-mb {
	border-bottom: 1px solid #3569d8;
}

// Margin & Padding
.no-margin-bottom {
	margin-bottom: 0;
}

.no-padding-top {
	padding-top: 0;
}

.no-border {
	border: 0 !important;
}

// Card
ion-card {
	img {
		max-height: 200px;
	}
}

.card {
	border-radius: 4px;
}

.card-img-wrap {
	position: relative;
	.card-img-price {
		font-size: 1.65rem;
	    position: absolute;
	    bottom: 0;
	    left: 0;
	    background-color: rgba(255,255,255, .8);
	    padding: 1rem;
	    border-radius: 0 4px 0 0;
	}
	.card-img-status {
		width: 100px;
		font-size: 1.65rem;
	    position: absolute;
		transform: rotate(45deg);
	    padding-top: .5rem;
	    padding-bottom: .5rem;
	    top: 10px;
	    right: -25px;
	    text-align: center;
	    &.rent {
	    	background-color: rgba(color($colors, primary), .8);
	    }
	    &.sale {
	    	background-color: rgba(color($colors, danger), .8);
	    }
	}
}

// Horizontal Rule
.content {
	hr {
		background-color: #3569d8;
	}
}

// Swiper
.swiper-pagination-bullet-active {
    background: color($colors, dark);
}

// Footer
.footer {
	background-color: #fff;
}

// Styles borders
.main-styled-border {
	padding-bottom: 1.6rem;
	border-bottom: 1px solid #3569d8;
	&::after {
    content: '';
    width: 50px;
    height: 5px;
		background-color: color($colors, dark);
    position: relative;
    bottom: -15px;
    left: 50%;
    margin-left: -25px;
    display: block;
	}
}
