<ion-menu [content]="content" class="menu-bg">

  <ion-header>
    <ion-toolbar class="user-profile profiles-bg">

      <div class="user-profile">
        <ion-list no-margin>
          <ion-item>

            <ion-avatar item-left>
              <img src="./assets/img/Dave.jpg">
            </ion-avatar>

            <h2 ion-text class="text-white fw700 text-15x">
              Dave Young
            </h2>
            <p ion-text color="light">CEO</p>


            <!-- <ion-badge color="light" class="text-primary">
            	<ion-icon name="home"></ion-icon> Renter
            </ion-badge>
            <ion-badge color="light" class="text-primary">
            	<ion-icon name="cash"></ion-icon> Paid
            </ion-badge> -->

          </ion-item>
        </ion-list>

	      <ion-grid no-padding>
	        <ion-row class="other-data">
	          <ion-col>
		          <button ion-button icon-start small full menuClose no-margin color="dark">
		          </button>
	          </ion-col>
	          <ion-col class="column">
		          <button ion-button icon-start small full menuClose no-margin color="dark" (click)="openPage(accountMenuItems[0])">
		            <ion-icon name="ios-log-out-outline"></ion-icon>
		            Log Out
		          </button>
	          </ion-col>
	        </ion-row>
	      </ion-grid>

      </div>

    </ion-toolbar>
  </ion-header>

  <ion-content>

    <ion-list>
      <button menuClose ion-item (click)="openPage(homeItem)">
        <ion-icon color="menuText" item-left name="ios-home-outline"></ion-icon>
        Home
      </button>
      <!-- <button menuClose ion-item (click)="openPage(initialItem)">
        <ion-icon item-left name="browsers"></ion-icon>
        Initial <small>(introduction slides)</small>
      </button> -->
      <button menuClose ion-item (click)="openPage(messagesItem)">
        <ion-icon color="menuText" item-left name="ios-mail-outline"></ion-icon>
        Messages
      </button>
    </ion-list>


    <ion-list>
      <ion-list-header no-margin>
        <span ion-text color="dark" class="fw500">Realty</span>
      </ion-list-header>
      <button menuClose ion-item *ngFor="let menuItem of appMenuItems" (click)="openPage(menuItem)">
        <ion-icon color="menuText" item-left [name]="menuItem.icon"></ion-icon>
        {{menuItem.title}}
      </button>
    </ion-list>

    <!-- <ion-list>
      <ion-list-header no-margin>
        <span ion-text color="dark" class="fw500">Your Property</span>
      </ion-list-header>
      <button menuClose ion-item *ngFor="let menuItem of yourPropertyMenuItems" (click)="openPage(menuItem)">
        <ion-icon item-left [name]="menuItem.icon"></ion-icon>
        {{menuItem.title}}
      </button>
    </ion-list> -->

    <ion-list>
      <ion-list-header no-margin>
        <span ion-text color="dark" class="fw500">Help</span>
      </ion-list-header>
      <button menuClose ion-item *ngFor="let menuItem of helpMenuItems" (click)="openPage(menuItem)">
        <ion-icon color="menuText" item-left [name]="menuItem.icon"></ion-icon>
        {{menuItem.title}}
      </button>
    </ion-list>

  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
